@import '../variables';

.mailchimp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    height: 50px;
    width: 400px;
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
  }
  button {
    margin-top: 10px;
    padding: 20px 50px 20px 50px;
    border: none;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    font-family: HKGrotesk;
  }
  button:hover {
    background-color: $pink;
  }
}
@media screen and (max-width: 600px) {
  .mailchimp-form {
    input {
      height: 30px;
      width: 80%;
    }
    button {
      padding: 15px 20px 15px 20px;
    }
    button:active {
      background-color: $pink;
    }
  }
}
