@import '../variables';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 80vw;
  }
  .logo:hover {
    -webkit-animation: spin 4s infinite;
    animation: spin 4s infinite;
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }

  @keyframes spin {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }

    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      height: 30px;
      width: 40vw;
    }
    button {
      width: 80%;
      margin-top: 10px;
      padding: 10px 0 10px 0;
      border: none;
      background-color: $blue;
      color: $white;
    }
    button:hover {
      background-color: $pink;
    }
  }
}
