@import '../variables';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  font-family: HKGrotesk;
  perspective: 800px;
  background-color: $white;

  .quote {
    color: $blue;
    margin: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 40px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
  }
  .logo {
    height: 30vh;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    .logo {
      height: 20vh;
    }
    .quote {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 375px) {
  .main-container {
    .logo {
      height: 15vh;
    }
    .quote {
      font-size: 15px;
    }
  }
}
