@import '../variables';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  font-family: HKGrotesk;
  perspective: 600px;
  background-color: $white;

  .quote {
    margin: 0;
    margin-bottom: 2%;
    font-size: 40px;
  }
  .logo {
    height: 30vh;
    margin-bottom: 20px;
  }
  .logo:hover {
    -webkit-animation: spin 4s infinite;
    animation: spin 4s linear infinite;
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }

  @keyframes spin {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }

    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      height: 50px;
      width: 400px;
      padding-left: 10px;
      font-size: 30px;
      text-align: center;
    }
    button {
      margin-top: 10px;
      padding: 20px 50px 20px 50px;
      border: none;
      background-color: $blue;
      color: $white;
      font-size: 20px;
      font-family: HKGrotesk;
    }
    button:hover {
      background-color: $pink;
    }
  }
}
